@model Epicotel.Models.Clienti

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Aggiunti un Cliente", "Add", "Clienti", new { area = "" }, new { @class = "btn btn-primary my-4" })

@if (TempData["Cliente"] != null)
{
    <div class="alert alert-success" role="alert">
        Cliente registrato con successo!
    </div>
}

<h2>Lista Clienti</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">IdCliente</th>
            <th scope="col">Cognome</th>
            <th scope="col">Nome</th>
            <th scope="col">Città</th>
            <th scope="col">Provincia</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Cellulare</th>
            <th scope="col">Codice Fiscale</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var servizio in ViewBag.Clienti)
        {
            <tr>
                <td>@servizio.IdCliente</td>
                <td>@servizio.Cognome</td>
                <td>@servizio.Nome</td>
                <td>@servizio.Citta</td>
                <td>@servizio.Provincia</td>
                <td>@servizio.Email</td>
                <td>@servizio.Telefono</td>
                <td>@servizio.Cellulare</td>
                <td>@servizio.CodiceFiscale</td>
            </tr>
        }
    </tbody>
</table>